body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.editorToolbarStyles {
  margin-bottom: 0 !important;
}

.editorTextSpaceStyles {
  padding: 0 10px;
  background: white;
  min-height: 120px;
}
